.DS_Store
.ipynb_checkpoints/
*.cpg
*.dbf
*.prj
.shp
.shx
cache/
*.geojson
data/
l40-district/
logs/
*.log
imgs/.DS_Store
*.zip
:
*.shp
GTF/
*.csv
imgs/
*.tex
*.txt
*.shx
data2/
keys.py
__pycache__/
imgs
*.ai
logs/
cache/
Data/
